kernel = "9xenpcf"
memory = 256
name = "9xen"
vdispl = [ 'connectors=eDP-1:1366x768' ]
vkb = [ 'backend-type=linux,unique-id=K:/dev/input/event5;P:/dev/input/by-path/pci-0000:00:14.0-usb-0:2:1.0-event-mouse,width=1366,height=768' ]
disk = [ '9xen.img,,sda','9.iso,,sdb,cdrom' ]
# This is the equivalent of plan9.ini:
extra="\nnobootprompt=local!/dev/sd01/data\nuser=glenda\n"
